.container {
  width: 77px;
  max-width: 77px;
  height: 100%;
  max-height: 100%;
}

.list {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;

  & {
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
