.container {
    max-width: 100vw;
    display: flex;
    height: 100vh;
    max-height: 100vh;
    //overflow: hidden;
}

.content {
    display: flex;
    background: var(--dark-200);
    flex: 1;
}

.channelSideContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    min-width: 240px;
    max-width: 240px;
    background: var(--dark-100);
}

.channelContainer {
    height: 100%;
    overflow: auto;
}

.userContainer {
    background: lighten(#1D1D1DFF, 2);
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    font-family: "Whitney Light", sans-serif;
    max-width: 100%;
    box-shadow: 0 0 3px rgba(#000000, .5);
}
