@import "~gandalf-css-framework/gandalf";

.divider-horizontal {
  height: 1px;
  background: $light;
}

.icon-plus {
  margin-left: 2px;
  margin-top: 2px;
}

.server-pill {
  &:before {
    transition: height .1s linear;
    position: absolute;
    left: 0;
    transform: translate(0, -50%);
    top: 50%;
    width: 4px;
    height: 0;
    background: var(--primary);
    content: '';
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &.server-selected {
    &:before {
      height: 100% !important;
    }
  }

  &:hover:before {
    height: 50%;
  }
}
